.bg-color{
    width: 30%;
    padding: 10px;
    margin: auto;
    background: rgb(199, 193, 193);    
    border-radius: 15px;      
}
.containers{
   width: 60%;   
   margin: auto;
   padding: 20px;
   text-align: center;   
}
.inputbox{
    border-radius: 10px;
    border: 0px;    
    padding: 5px 10px;    
    width: 200px;
}
.button{
    border-radius: 5px;
    border: 2px;
    border-color: rgb(80, 76, 76);
    background-color: rebeccapurple;
    color: rgb(223, 223, 234);
    text-align: center;
    padding: 5px;
    width: 50px;
}