<section class="bg-color">
    <div class="containers">
      <form>
        First Name
        <input type="text" class="inputbox"><br/><br/>
        Last Name
        <input type="text" class="inputbox"><br/><br/>
        Username
        <input type="text" class="inputbox"><br/><br/>
        Password
        <input type="password" class="inputbox"><br/><br/>
        Confirm Passsword
        <input type="password" class="inputbox"><br/><br/>
        Already registered? sign in <button type="button" class="button">Register</button>
      </form>
    </div>
  </section>